.recruitmenting {
  height: 100%;
  width: 100%;
}

.card-row {
  margin: 20px;
}
.first_card_sec {
  background: #c03e8e;
  border-radius: 30px;
  padding: 5px !important;
}

.card-header {
  display: flex;
}

.card-btn {
  background: #ffffff;
  border-radius: 10px;
}

.data-card {
  background: #e2eaf8;
  /* margin: 60px; */
}

/* button */
.signup {
  width: 168px;
  /* height: 65px; */
  background: rgba(244, 108, 128, 0.3);
  border-radius: 10px;
  color: #C03E8E;
}

.login {
  width: 168px;
  /* height: 65px; */
  background: rgba(244, 108, 128, 0.3);
  border-radius: 10px;
  color: #C03E8E;
}
.banner{
  color: #C03E8E;
}

ul {
  list-style: none;
}

.list::before {
  content: "\2022";
  color: #C03E8E;
  font-weight: bold;
  display: inline-block; 
  padding: 10px;
  margin: 5px;
}
.about-list::before{
  content: "\2022";
  color: #000;
  font-weight: bold;
  display: inline-block;  
  padding: 10px;
}